.container {
    padding: 5px;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: fit-content;
    backdrop-filter: blur(5px);
    background: #ccc;
    display: flex;
    align-items: center;
    justify-content: center;

    .body {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        padding: 20px;
        background: #fff;
        border-radius: 10px;
        max-width: 900px;
        width: 100%;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);

        @media (max-width: 900px) {
            height: 100%;
            border-radius: 0;
        }

        .title {
            position: relative;
            top: 0;
            left: 0;
            width: 100%;
            font-weight: 700;

            h1 {
                width: 100%;
                display: flex;
                justify-content: center;
                font-size: 2rem;
                font-family: Ancizar Sans;
            }

            span {
                font-size: 1.5rem;
            }
        }

        .form {
            width: 100%;

            form {
                margin-top: 15px;

                >div {
                    display: flex;
                    flex-direction: column;
                    font-weight: 600;
                    padding: 0 0 10px 0;

                    input {
                        width: 100%;
                        padding: 10px;
                        max-width: 768px;
                        font-size: 1.1rem;
                        font-family: Open Sans, Ancizar Sans;
                        border-width: 0 0 2px 0;
                        border-color: transparent;
                        outline: none;
                        background: #ccc;
                        border-radius: 7px;
                        transition: all 0.1s;

                    }

                    input:focus {
                        border-color: orange;
                    }

                    textarea {
                        width: 100%;
                        padding: 10px;
                        height: 160px;
                        max-width: 768px;
                        font-size: 1.1rem;
                        font-family: Open Sans, Ancizar Sans;
                        resize: none;
                        white-space: pre-wrap;
                        border-width: 0 0 2px 0;
                        border-color: transparent;
                        outline: none;
                        background: #ccc;
                        border-radius: 7px;
                        transition: all 0.1s;

                    }

                    textarea:focus {
                        border-color: orange;
                    }
                }

                button {
                    background: orange;
                    color: white;
                    padding: 10px 20px;
                    border-radius: 10px;

                }

                button:active {
                    background: hsl(39, 100%, 70%);
                }
            }
        }
    }

    .end {
        button {
            color: orange;
            padding: 0 10px;
        }
    }
}