.container {
    height: fit-content;
    width: fit-content;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    flex-direction: row;
    padding: 40px 0;

    .box {
        border-radius: 100%;
        background: orange;
        height: 30px;
        width: 30px;
    }
}