.container {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    padding: 10px 20px;
    backdrop-filter: blur(10px);
    border-width: 1px 0 0 0;
    border-style: solid;
    border-color: white;
    display: flex;
    align-items: center;
    justify-content: space-between;

    .leftContainer {
        font-weight: 800;
        font-family: Open Sans, Ancizar Sans;
        font-size: 1rem;

        span {
            display: flex;
            justify-content: center;
            align-items: center;
            padding: 10px;
            border-radius: 10px;
            background: rgba(255, 255, 255, 0.5);
        }
    }

    .rightContainer {
        button {
            cursor: pointer;
            border: none;
            border-radius: 40px;
            padding: 10px 20px;
            background: orange;
            color: white;
            font-weight: 800;
            font-size: 1.2rem;
            transition: all 0.1s;
        }

        button:active {
            transform: scale(0.95);
            background: darkorange;
        }
    }
}