.container {
    width: 100%;
    background: whitesmoke;
    border-radius: 10px;
    margin-top: 10px;

    .title {
        width: 100%;
        font-family: Ancizar Sans;
        font-size: 1.5rem;
        padding: 10px;
        font-weight: 700;
        color: hsl(39, 100%, 10%);
    }

    .items {
        display: flex;
        flex-wrap: wrap;
        gap: 10px;
        padding: 0 10px;
        justify-content: center;

        .itemsContainer {
            border-radius: 10px;
            overflow: hidden;
            display: flex;
            flex-direction: column;
            background: white;
            flex: 1 1 250px;
            max-width: 380px;

            .imageContainer {
                overflow: hidden;
                position: relative;
                height: 200px;
                width: 100%;
                object-position: center;
            }

            .itemDetails {
                padding: 10px;
                color: hsl(39, 100%, 10%);

                .itemName {
                    h1 {
                        font-weight: 600;
                        font-size: 1.2rem;
                    }

                }

                .subs {
                    padding: 10px 0;
                    width: 100%;
                    display: flex;
                    align-items: center;
                    justify-content: space-between;
                    font-weight: 700;

                    .buttonContainer {
                        width: 100%;
                        display: flex;
                        justify-content: space-between;
                        align-items: center;
                        max-width: 160px;

                        button {
                            height: 45px;
                            width: 45px;
                            border-radius: 100%;
                            padding: 0 0 5px 0;
                            font-size: 1.7rem;
                            display: flex;
                            justify-content: center;
                            align-items: center;
                        }
                    }

                    button {
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        color: white;
                        border-radius: 10px;
                        padding: 10px 20px;
                        background: orange;
                        cursor: pointer;

                    }


                    button:active {
                        background: hsl(39, 100%, 60%);
                    }
                }
            }
        }
    }

    .menuslider {
        margin-top: 20px;
        display: flex;
        flex-direction: column;
        gap: 6px;

        .title {
            font-family: Ancizar Sans;
            font-size: 1.5rem;
            padding: 15px 10px 0 10px;
            font-weight: 700;
            color: hsl(39, 100%, 10%);
        }
    }
}