.container {
    width: 100%;
    max-width: 100%;
    background: whitesmoke;
    display: flex;
    gap: 10px;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: rgb(40, 40, 40);

    h1 {
        font-weight: 700;
        font-size: 2rem;
    }

    span {
        font-weight: 600;
        font-size: 1.2rem;
    }
}